.Container {
  width: 100%;
  display: block;
  background-color: #fce38a;
  margin-bottom: 60px;
  @media (min-width: 768px) {
    border-radius: 10px;
  }
}

.Wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.FilterTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin-bottom: 10px;
}

.Note {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}

.ToggleBtn {
  padding: 8px;
  font-size: 0.8rem;
  color: #212529;
  background-color: #f38181;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
}

.ActionBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.ResetBtn {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #212529;
  background-color: #f38181;
  border: solid 2px #212529;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
}

.ButtonsWrapper {
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
