.InputGroup {
  margin-bottom: 6px;
  position: relative;
  height: 78px;
  @media (min-width: '768px') {
    height: 88px;
  }
}

.Label {
  display: block;
  position: relative;
  margin: 0 0 4px 0;
  padding: 0px;
  font-weight: 700;
  text-transform: capitalize;
}

.LabelRequired {
  display: block;
  position: relative;
  margin: 0 0 4px 0;
  padding: 0px;
  font-weight: 700;
  text-transform: capitalize;
  &::before {
    content: '*';
    position: absolute;
    left: -10px;
    top: -2px;
    font-size: 24px;
    color: red;
  }
}

.Input {
  display: block;
  width: 100%;
  line-height: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 8px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none;
  &:focus {
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
  }
  &::placeholder {
    font-size: 16px;
    color: #ccc;
    @media (min-width: '768px') {
      font-size: 18px;
    }
  }
}

.ErrorField {
  color: red;
  font-size: 14px;
  text-align: right;
  margin: 4px 0;
}
