.ListItem {
  display: block;
  margin-bottom: 10px;
  @media (min-width: '768px') {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.Link {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  position: relative;
  &:hover {
    color: white;
  }
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
  @media (min-width: '768px') {
    color: #212529;
    font-size: 24px;
    padding: 10px;
    &:hover {
      color: #f38181;
    }
    &::after {
      background: #f38181;
      height: 2px;
    }
  }
}
