.Wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 40px;
  background-color: #659dbd;
  // background: linear-gradient(90deg, #fff, #6dd5fa, #2980b9);
}
