.PaginationWrapper {
  display: block;
  width: 100%;
  padding: 20px 5px;
  background-color: #fce38a;
  @media (min-width: 768px) {
    padding: 20px;
    border-radius: 10px;
  }
}

.ButtonsContainer {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    // left: 0.15em;
    position: relative;
    // top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    // left: 0.25em;
    transform: rotate(-135deg);
  }
}

.ChevronLeft::before {
  left: 0.1em;
  transform: rotate(-135deg);
}

.ChevronRight::before {
  left: -0.1em;
  transform: rotate(45deg);
}
