.Wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  padding: 0;
  @media (min-width: '768px') {
    padding: 0 20px;
    margin: 50px auto;
  }
}
.Title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin-bottom: 30px;
}
.GridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5px 5px;

  @media (min-width: '768px') {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1.5fr) repeat(2, auto);
  }
  @media (min-width: '1200px') {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1 {
  grid-area: 1 / 1 / 2 / 5;
  @media (min-width: '768px') {
    grid-area: 1 / 1 / 2 / 4;
  }
  @media (min-width: '1200px') {
    grid-area: 3 / 1 / 6 / 4;
  }
}
.p2 {
  grid-area: 2 / 1 / 3 / 3;
  @media (min-width: '768px') {
    grid-area: 1 / 4 / 2 / 7;
  }
  @media (min-width: '1200px') {
    grid-area: 1 / 1 / 3 / 3;
  }
}
.p3 {
  grid-area: 2 / 3 / 3 / 5;
  @media (min-width: '768px') {
    grid-area: 2 / 1 / 3 / 4;
  }
  @media (min-width: '1200px') {
    grid-area: 2 / 4 / 4 / 6;
  }
}
.p4 {
  grid-area: 3 / 1 / 4 / 3;
  @media (min-width: '768px') {
    grid-area: 2 / 4 / 3 / 7;
  }
  @media (min-width: '1200px') {
    grid-area: 1 / 3 / 2 / 4;
  }
}
.p5 {
  grid-area: 3 / 3 / 4 / 5;
  @media (min-width: '768px') {
    grid-area: 3 / 1 / 4 / 3;
  }
  @media (min-width: '1200px') {
    grid-area: 1 / 4 / 2 / 5;
  }
}

.p6 {
  display: none;
  @media (min-width: '768px') {
    display: flex;
    grid-area: 3 / 3 / 4 / 5;
  }
  @media (min-width: '1200px') {
    grid-area: 4 / 5 / 5 / 6;
  }
}

.p7 {
  display: none;
  @media (min-width: '768px') {
    display: flex;
    grid-area: 3 / 5 / 4 / 7;
  }
  @media (min-width: '1200px') {
    grid-area: 5 / 5 / 6 / 6;
  }
}

.p8 {
  display: none;
  @media (min-width: '768px') {
    display: flex;
    grid-area: 4 / 1 / 5 / 3;
  }
  @media (min-width: '1200px') {
    grid-area: 1 / 5 / 2 / 6;
  }
}

.p9 {
  display: none;
  @media (min-width: '768px') {
    display: flex;
    grid-area: 4 / 3 / 5 / 5;
  }
  @media (min-width: '1200px') {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.p10 {
  display: none;
  @media (min-width: '768px') {
    display: flex;
    grid-area: 4 / 5 / 5 / 7;
  }
  @media (min-width: '1200px') {
    grid-area: 4 / 4 / 5 / 5;
  }
}

.p11 {
  display: none;
  @media (min-width: '1200px') {
    display: flex;
    grid-area: 5 / 4 / 6 / 5;
  }
}

.ResponsiveImage {
  width: 100%;
  height: auto;
}
