.InputGroup {
  margin-bottom: 20px;
  position: relative;
}

.LabelRequired {
  display: block;
  position: relative;
  padding-left: 20px;
  text-indent: -20px;
  font-size: 14px;
  &::before {
    content: '*';
    position: absolute;
    left: 10px;
    top: -15px;
    font-weight: 700;
    font-size: 24px;
    color: #f38181;
  }
}

.Input {
  float: none;
  margin: 0 8px 0 0;
  vertical-align: baseline;
}

.ErrorField {
  color: #dc3545;
  font-size: 14px;
  text-align: right;
  margin: 4px 0;
}
