.FooterContainer {
  width: 100%;
  padding: 20px;
  background-color: #fce38a;
  height: 80px;
  display: flex;
  align-items: center;
}

.FooterWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
  }
}

.CopyrightsContainer {
  font-size: 12px;
  color: #333;
  font-weight: 600;
  @media (min-width: 425px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.LinksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Link {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  &:hover {
    text-decoration: underline;
  }
  @media (min-width: 425px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
  &:not(:last-child):after {
    margin-right: 1rem;
    padding-left: 1rem;
    content: '|';
  }
}

// export const LinkWrapper = styled.span``;
