.Dots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  padding: 8px 16px;
  background-color: #f38181;
  color: #212529;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
