.Hamburger {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3rem;
  height: 3rem;
  position: relative;
  right: 20px;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  @media (min-width: '768px') {
    display: none;
  }
  div {
    background-color: white;
    width: 3rem;
    height: 0.3rem;
    background-color: #333;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      transform: translateX(0);
      opacity: 1;
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}

.HamburgerOpen {
  position: fixed;
  div {
    background-color: #ccc;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: translateX(100%);
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
